<div class="pageecoCircle container active">
    <h2>环同济经济圈</h2>
    <span>环同济经济圈，即“环同济研发设计服务特色产业基地”，重点发展创意和设计产业，国际工程咨询服务业，新能源新材料和环保科技产业三大密集群。该产业基地的“核心圈”以同济大学四平路校区为核心，包括密云路、中山北二路、江浦路、控江路、大连路围合组成的区域，面积约2.6平方公里。</span>
    <span>环同济经济圈扩展区以曲阳路、大连西路-大连路、周家嘴路、黄兴路、邯郸路围合组成，面积约 10 平方公里。</span>
    <span>在此基础上进一步向外扩展，形成四个“辐射点”，包括新江湾城辐射点、森林公园辐射点、黄兴公园辐射点、滨江辐射点。</span>
    <span>综上所述，环同济经济圈覆盖区域如下图。</span>

    <div class="selectecoCircle" style="margin:0">

        <span class="placeholder">底图选择</span>
        <ul>
            <li value="oceans">oceans</li>
            <li value="gray">gray</li>
            <li value="national-geographic">national-geographic</li>
            <li value="hybrid">hybrid</li>
            <li value="osm">osm</li>
            <li value="satellite">satellite</li>
            <li value="streets">streets</li>
            <li value="topo">topo</li>
        </ul>
    </div>
    <div id="viewDivEcoCircle"></div>
    <span>环同济经济圈文化产业数量为522，环同济经济扩展区文化产业数量为861，环同济经济圈辐射点共有2277家文化产业。</span>
    <span>杨浦区的文化产业数量为3317，环同济经济圈文化产业数量为522，因此环同济经济圈内的文化产业占杨浦区文化产业比例为15.737%</span>
    <span>至“十一五”末，杨浦区文化创意产业共有企业3237家，从业人员5.48万人；实现总产出199.61亿元，同比增长17.9%，与2004年（经济普查年）相比，年均增长18.9%，占全市比重5%；实现增加值64.88亿元，同比增长15.7%，占杨浦生产总值的比重为7.3%（扣除烟草业后占比13.5%），与上年基本持平，占全市文化创意产业比重为3.9%。环同济经济圈的文化产业的经济规模占杨浦区文化产业经济规模75.147%。</span>
    <div id="mainDivEcoCircle" style="width: 100%;height:500px;"></div>
    <span>下图所示的根据三次经济普查数据“环同济”产业结构的变化</span>
    <div id="industryStruc" style="width: 100%;height:500px;"></div>
    <span>因此参照《国民经济行业分类》目录，结合该区域的产业发展态势，可以把环同济知识经济圈文化创意产业划分为九大类。这九大类分别是：文化艺术类，信息服务类，产品设计类，建筑景观设计类，咨询策划类，文化用品、设备及相关文化产品的生产类，文化用品、设备及相关文化产品的销售类，教育、卫生、体育事业类，以及其他类。</span>
    <span>其中重点发展的产业有四类（有先后次序）:</span>
    <span>1.建筑景观设计类，具体包括建筑设计业、城市规划设计业、室内设计业、城市绿化设计业。</span>
    <span>2.产品设计类，重点是工业设计业</span>
    <span>3.文化艺术类，包括文化艺术活动业、出版业等。</span>
    <span style="margin-bottom: 70px;">4.信息服务类，重点是互联网信息服务业。</span>
</div>
<script>
    var LoopLineMap = echarts.init(document.getElementById('mainDivEcoCircle'));

    // 指定图表的配置项和数据
    option = {
        title : {
            text: '环同济经济圈文化产业',
            subtext: '上海市',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            y:'bottom',
            data: ['环同济经济圈','环同济经济扩展区','环同济经济圈辐射点']
        },
        series : [
            {
                name: '文化产业数',
                type: 'pie',
                radius : '55%',
                center: ['50%', '60%'],
                data:[
                    {value:522, name:'环同济经济圈'},
                    {value:861, name:'环同济经济扩展区'},
                    {value:2277, name:'环同济经济圈辐射点'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };


    LoopLineMap.setOption(option);

    var Ecocirlce = echarts.init(document.getElementById('industryStruc'));
    option = {
        tooltip : {
            trigger: 'axis',
            axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
            }
        },
        legend: {
            data: ['工程技术', '房屋建筑业','房地产开发经营','软件开发','技能培训、教育辅助及其他教育','建筑装饰业','其它产业']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis:  {
            type: 'value',
            show:true,
            max:'100',
            data: ['0%', '20%', '40%', '60%',  '80%',  '100%']

        },
        yAxis: {
            type: 'category',
            data: ['2013','2008','2004']
        },
        series: [
            {
                name: '工程技术',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [37.5, 33.2, 22.0]
            },
            {
                name: '房屋建筑业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [21.3, 23.3, 19.3]
            },
            {
                name: '房地产开发经营',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [8.8, 10.1, 24.2]
            },
            {
                name: '软件开发',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [6.5, 5.5, 5.9]
            },
            {
                name: '技能培训、教育辅助及其他教育',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [2.9, 2.6, 0.1]
            },
            {
                name: '建筑装饰业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [2.7, 5.2, 8.9]
            },
            {
                name: '其它产业',
                type: 'bar',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        formatter: '{c}%'
                    }
                },
                data: [20.4, 20.2, 19.6]
            }
        ]
    };
    Ecocirlce.setOption(option);

    var basemap = "";
    $('.selectecoCircle').on('click', '.placeholder', function(e) {
        var parent = $(this).closest('.selectecoCircle');
        if (!parent.hasClass('is-open')) {
            parent.addClass('is-open');
            $('.selectecoCircle.is-open').not(parent).removeClass('is-open');
        } else {
            parent.removeClass('is-open');
        }
        e.stopPropagation();
    }).on('click', 'ul>li', function() {
        var parent = $(this).closest('.selectecoCircle');
        parent.removeClass('is-open').find('.placeholder').text($(this).text());
        basemap = this.attributes[0].value;

        require([
            "esri/Map",
            "esri/views/SceneView",
            "esri/layers/FeatureLayer",
            "dojo/domReady!"
        ], function(Map, SceneView, FeatureLayer){
            var template = {
                title: "文化产业区域信息：",
                content: "<p>{Name}</p>" + "一共有{Join_Count}个文化产业",
                fieldInfos: [{
                    fieldName: "MARRIED_CY",
                    format: {
                        digitSeparator: true, // Use a comma separator for large numbers
                        places: 0 // Sets the number of decimal places to 0 and rounds up
                    }
                }, {
                    fieldName: "NEVMARR_CY",
                    format: {
                        digitSeparator: true,
                        places: 0
                    }
                }, {
                    fieldName: "DIVORCD_CY",
                    format: {
                        digitSeparator: true,
                        places: 0
                    }
                }]
            };

            // Create the Map
            var map = new Map({
                basemap: basemap,
                ground: "world-elevation",
                logo:false
            });

            // Create the MapView
            var view = new SceneView({
                container: "viewDivEcoCircle",
                map: map,
                zoom: 12,  // Sets the zoom level based on level of detail (LOD)
                center: [121, 31]  // Sets the center point of view in lon/lat
            });

            var featureLayer = new FeatureLayer({
                url: "http://10.60.42.201:6447/arcgis/rest/services/环同济经济圈/MapServer/1",
                outFields: ["*"],
                popupTemplate: template
            });

            view.then(function() {
                featureLayer.then(function() {
                    view.goTo(featureLayer.fullExtent);
                });

            });

            map.add(featureLayer)

        });
    })




    require([
        "esri/Map",
        "esri/views/SceneView",
        "esri/layers/FeatureLayer",
        "dojo/domReady!"
    ], function(Map, SceneView, FeatureLayer){
        var template = {
            title: "文化产业区域信息：",
            content: "<p>{Name}</p>" + "一共有{Join_Count}个文化产业",
            fieldInfos: [{
                fieldName: "MARRIED_CY",
                format: {
                    digitSeparator: true, // Use a comma separator for large numbers
                    places: 0 // Sets the number of decimal places to 0 and rounds up
                }
            }, {
                fieldName: "NEVMARR_CY",
                format: {
                    digitSeparator: true,
                    places: 0
                }
            }, {
                fieldName: "DIVORCD_CY",
                format: {
                    digitSeparator: true,
                    places: 0
                }
            }]
        };

        // Create the Map
        var map = new Map({
            basemap: "oceans",
            ground: "world-elevation",
            logo:false
        });

        // Create the MapView
        var view = new SceneView({
            container: "viewDivEcoCircle",
            map: map,
            zoom: 12,  // Sets the zoom level based on level of detail (LOD)
            center: [121, 31]  // Sets the center point of view in lon/lat
        });

        var featureLayer = new FeatureLayer({
            url: "http://10.60.42.201:6447/arcgis/rest/services/环同济经济圈/MapServer/1",
            outFields: ["*"],
            popupTemplate: template
        });

//        var featureLayer2 = new FeatureLayer({
//            url: "https://localhost:6443/arcgis/rest/services/环同济经济圈/MapServer/0",
//            outFields: ["*"],
//            popupTemplate: template
//        });


        view.then(function() {
            featureLayer.then(function() {
                view.goTo(featureLayer.fullExtent);
            });
//            featureLayer2.then(function() {
//                view.goTo(featureLayer.fullExtent);
//            });
        });


        map.add(featureLayer)
//        map.add(featureLayer2)

    });

</script>


<style>
    #viewDivEcoCircle{
        padding: 0;
        margin: 40px 10px;
        height: 40%;
        width: 100%;
        max-width: calc(100% - 202px);

    }

    #viewDivEcoCircle.active {
        display: none;
    }

    .pageecoCircle.container {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow-y: auto;
    }

    .pageecoCircle.container > div {
        margin: 20px;
    }

    .pageecoCircle.container > h2 {
        align-self: flex-start;
        color: #0088f5;
        font-size: 5em;
        margin: 20px;
        text-indent:30px;
    }
    .pageecoCircle.container > span{
        font-size: 2em;
        width:100rem;
        text-indent: 30px;
        letter-spacing: 1px;
        line-height: 2;
    }
    .pageecoCircle.container.active {
        display: none;
    }
    .selectecoCircle { position: relative; display: block; margin: 0 auto; width: 10%; max-width: 325px; color: #cccccc; vertical-align: middle; text-align: left; user-select: none; -webkit-touch-callout: none;}
    .selectecoCircle .placeholder { position: relative; display: block; background-color: #393d41; z-index: 1; padding: 1em; border-radius: 2px; cursor: pointer;}
    .selectecoCircle .placeholder:hover { background: #34383c;}
    .selectecoCircle .placeholder:after { position: absolute; right: 1em; top: 50%; transform: translateY(-50%); font-family: 'FontAwesome'; content: '\f078'; z-index: 10;}
    .selectecoCircle.is-open .placeholder:after { content: '\f077';}
    .selectecoCircle.is-open ul { display: block;}
    .selectecoCircle.selectecoCircle--white .placeholder { background: #fff; color: #999;}
    .selectecoCircle.selectecoCircle--white .placeholder:hover { background: #fafafa;}
    .selectecoCircle.selectecoCircle--green .placeholder { background: #5BF36E; color: #FFF;}
    .selectecoCircle.selectecoCircle--green .placeholder:hover { background: #5BF36E;}
    .selectecoCircle ul { display: none; position: absolute; overflow: hidden; width: 100%; background: #fff; border-radius: 2px; top: 100%; left: 0; list-style: none; margin: 5px 0 0 0; padding: 0; z-index: 100;}
    .selectecoCircle ul li { display: block; text-align: left; padding: 0.8em 1em 0.8em 1em; color: #999; cursor: pointer;}
    .selectecoCircle ul li:hover { background: #4ebbf0; color: #fff;}
</style>