<div class="pageFour container active">


    <h2>交通压力分析
        <a href="	http://www.arcgis.com/home/webmap/viewer.html?url=http%3A%2F%2F10.60.42.201%3A6447%2Farcgis%2Frest%2Fservices%2Fhot_line%2FMapServer&source=sd"
                         target="view_window">
            通勤压力
        </a></h2>

    <span style="width: 1400px;font-size: 16px">
        嘉定区
        <ul>
        <li>地铁11号线(嘉定北--江苏路)</li>
            <li>地铁11号线(安亭--江苏路)</li>
            <li>(在建)地铁13号线(华江路--华夏中路)</li>
        </ul>
                
        松江区
        <ul>
            <li>地铁9号线(松江新城--杨高中路)</li>
        </ul>
        
        浦东新区
        <ul>
            <li>地铁2号线(浦东国际机场--广兰路)</li>
            <li>地铁2号线(广兰路--徐泾东)</li>
            <li>地铁4号线内环(宜山路--宜山路)</li>
            <li>地铁4号线外环(宜山路--宜山路)</li>
            <li>地铁6号线(东方体育中心--港城路)</li>
            <li>地铁7号线(花木路--美兰湖)</li>
            <li>地铁8号线(航天博物馆--市光路)</li>
            <li>地铁9号线(杨高中路--松江新城)</li>
            <li>(在建)地铁12号线(金穗路--七莘路)</li>
            <li>(在建)地铁13号线(华夏中路--华江路)</li>
        </ul>
        
        金山区
        <ul>
        <li>无地铁线路</li>
        </ul>
                青浦区
        <ul><li>地铁2号线(徐泾东--广兰路)</li></ul>       
        
    </span>
    <br/>
    <span style="width: 1400px;font-size: 16px">
        嘉定区
        <ul>
        <li>曹安公路</li>
        <li>沪宜公路</li>
        <li>嘉西立交桥</li>
        <li>清河路</li>
        <li>嘉松北路</li>
        <li>外环沪宁立交桥</li>
        <li>真南路</li>
        <li>G15沈海高速</li>
        <li>G1501上海绕城高速</li>
        <li>S5沪嘉高速</li>
        <li>S20外环高速</li>
        <li>G2京沪高速</li>
        </ul>
        松江区
        <ul>
        <li>车亭公路</li>
        <li>G15沈海高速</li>
        <li>北松公路</li>
        <li>G60沪昆高速</li>
        <li>S32申嘉湖高速</li>
        <li>G1501上海绕城高速</li>
        </ul>
        浦东新区
        <ul>
        <li>中环路</li>
        <li>南北高架路</li>
        <li>内环高架路</li>
        <li>华夏高架路</li>
        <li>五洲大道</li>
        <li>翔殷路隧道</li>
        <li>S20外环高速</li>
        <li>S32申嘉湖高速</li>
        <li>G1501上海绕城高速</li>
        <li>S2沪芦高速</li>
        <li>环东二大道立交桥</li>
        <li>S1迎宾高速</li>
            </ul>
        金山区
        <ul>
        <li>G60沪昆高速</li>
        <li>亭枫公路</li>
        <li>车亭公路</li>
        <li>松金公路</li>
        <li>亭卫公路</li>
        <li>S36亭枫高速</li>
        <li>S19新卫高速</li>
        <li>G15沈海高速</li>
        <li>S4沪金高速</li>
        <li>G1501上海绕城高速</li>
        <li>新农立交桥</li>
            </ul>
        青浦区
        <ul>
        <li>G50沪渝高速</li>
        <li>嘉闵高架路</li>
        <li>崧泽高架路</li>
        <li>G15沈海高速</li>
        <li>沪青平公路</li>
        <li>S26沪常高速</li>
        <li>G1501上海绕城高速</li>
        <li>G2京沪高速</li>
            </ul>
    </span>
    <div id="viewDiv4"></div>
</div>
<script>

  // require([
  //
  //   "esri/Map",
  //
  //   "esri/views/MapView",
  //     "esri/tasks/Locator",
  //
  //   "esri/layers/FeatureLayer",
  //
  //   "dojo/domReady!"
  // ], function(Map, MapView,
  // Locator,
  //               FeatureLayer){
  //   var map = new Map({
  //     basemap: "gray"
  //   });
  //   var view = new MapView({
  //     container: "viewDiv4",  // Reference to the scene div created in step 5
  //     map: map,  // Reference to the map object created before the scene
  //     zoom: 12,  // Sets the zoom level based on level of detail (LOD)
  //     center: [121, 31]  // Sets the center point of view in lon/lat
  //   });
  //
  //   var template = {
  //       title: "",
  //       content: "<b>{NAME}</b>"
  //   };
  //
  //   for (let i = 8; i <= 14; i++) {
  //       var featureLayer = new FeatureLayer({
  //           url: "http://10.60.42.201:6447/arcgis/rest/services/ShanghaiMap/MapServer/"+i,
  //           outFields: ["*"],
  //           popupTemplate: template,
  //       });
  //       map.add(featureLayer);
  //   }
  //
  //   var featureLayer = new FeatureLayer({
  //       url: "http://10.60.42.201:6447/arcgis/rest/services/hot_line/MapServer/0"
  //   });
  //
  //   map.add(featureLayer);
  // });

</script>


<style>
    .pageFour.container {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow-y: auto;
    }

    .pageFour.container > div {
        margin: 20px;
    }

    .pageFour.container > h2 {
        align-self: flex-start;
        color: #0088f5;
        font-size: 5em;
        margin: 20px;
        text-indent:30px;
    }

    .pageFour.container.active {
        display: none;
    }

    #viewDiv4 {
        padding: 0;
        margin: 10px;
        height: 90%;
        width: 100%;
        max-width: calc(100% - 50px);
    }

    #viewDiv4.active {
        display: none;
    }

    /*.esri-view {*/
        /*overflow: auto !important;*/
    /*}*/
</style>



