<div class="pageOne container">
    <h2>上海文化产业分布图</h2>
    <span>下图展示了上海文化产业分布图，颜色越浅代表该区文化创意产业越少，颜色越深代表该区文化创意产业越多，例如浦东新区文化创意产业最多（8120），颜色最深，金山区与崇明县相对较少，颜色最浅。地图下方为图表数据，包括各区县文化产业数量、各区县文化产业在上海所有企业中所占比例以及各区县文化产业在各区中所占比例。</span>

    <div class="selectOne" style="margin:0">

        <!--<span class="placeholder">底图选择</span>-->
        <!--<ul>-->
            <!--<li value="oceans">oceans</li>-->
            <!--<li value="gray">gray</li>-->
            <!--<li value="national-geographic">national-geographic</li>-->
            <!--<li value="hybrid">hybrid</li>-->
            <!--<li value="osm">osm</li>-->
            <!--<li value="satellite">satellite</li>-->
            <!--<li value="streets">streets</li>-->
            <!--<li value="topo">topo</li>-->
        <!--</ul>-->
    </div>

    <div id="viewDiv"></div>
    <div id="main" style="width: 100%;height:500px;"></div>
    <div id="second" style="width: 100%;height:500px;"></div>
    <div id="third" style="width: 100%;height:500px;"></div>
</div>
<script>
    var basemap = "";
    $('.selectOne').on('click', '.placeholder', function(e) {
        var parent = $(this).closest('.selectOne');
        if (!parent.hasClass('is-open')) {
            parent.addClass('is-open');
            $('.selectOne.is-open').not(parent).removeClass('is-open');
        } else {
            parent.removeClass('is-open');
        }
        e.stopPropagation();
    }).on('click', 'ul>li', function() {
        var parent = $(this).closest('.selectOne');
        parent.removeClass('is-open').find('.placeholder').text($(this).text());
        basemap = this.attributes[0].value;

        require([
            "esri/Map",
            "esri/views/SceneView",
            "esri/layers/FeatureLayer",
            "esri/widgets/BasemapToggle",
            "dojo/domReady!"
        ], function(Map, SceneView, FeatureLayer,BasemapToggle){

            var template = {
                title: "文化产业区域信息：",
                content: "<p>{Name}</p>" + "一共有{Join_Count}个文化产业",
                fieldInfos: [{
                    fieldName: "MARRIED_CY",
                    format: {
                        digitSeparator: true, // Use a comma separator for large numbers
                        places: 0 // Sets the number of decimal places to 0 and rounds up
                    }
                }, {
                    fieldName: "NEVMARR_CY",
                    format: {
                        digitSeparator: true,
                        places: 0
                    }
                }, {
                    fieldName: "DIVORCD_CY",
                    format: {
                        digitSeparator: true,
                        places: 0
                    }
                }]
            };

            // Create the Map
            var map = new Map({
                basemap: basemap,
                ground: "world-elevation",
                logo:false
            });

            // Create the MapView
            var view = new SceneView({
                container: "viewDiv",
                map: map,
                zoom: 12,  // Sets the zoom level based on level of detail (LOD)
                center: [121, 31]  // Sets the center point of view in lon/lat
            });
            view.then(function() {
                featureLayer.then(function() {
                    view.goTo(featureLayer.fullExtent);
                });
            });

            var featureLayer = new FeatureLayer({
                url: "https://localhost:6443/arcgis/rest/services/2/MapServer",
                outFields: ["*"],
                popupTemplate: template
            });

            map.add(featureLayer)
        });
    });

        var posList = [
        'left', 'right', 'top', 'bottom',
        'inside',
        'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
        'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
    ];


    var labelOption = {
        normal: {
            show: true,
            fontSize: 16,
            rich: {
                name: {
                    textBorderColor: '#fff'
                }
            }
        }
    };

  var myChart = echarts.init(document.getElementById('main'));

  // 指定图表的配置项和数据
  option = {
    title : {
      text: '各区县文化产业数量',
      subtext: '上海市',
      x:'center'
    },
    tooltip : {
        trigger: 'axis',
      formatter: "{a} <br/>{b} : {c}"
    },
    legend: {
      data:['宝山区','嘉定区','杨浦区','虹口区','普陀区','青浦区', '闵行区', '黄浦区', '长宁区', '静安区', '徐汇区', '松江区', '奉贤区', '浦东新区', '金山区', '崇明县']
    },
    toolbox: {
      show : true,
        orient: 'vertical',
      feature : {
        mark : {show: true},
        dataView : {show: true, readOnly: false},
        magicType : {
          show: true,
          type: ['line', 'bar', 'stack', 'tiled']
        },
        restore : {show: true},
        saveAsImage : {show: true}
      }
    },
    calculable : true,
      xAxis : [
          {
              type : 'category',
              data:['宝山区','嘉定区','杨浦区','虹口区','普陀区','青浦区', '闵行区', '黄浦区', '长宁区', '静安区', '徐汇区', '松江区', '奉贤区', '浦东新区', '金山区', '崇明县']
          }
      ],
      yAxis : [
          {
              type : 'value'
          }
      ],
    series : [
      {
        name:'文化产业数量',
          type:'bar',
        data:[
          {value:1681, name:'宝山区'},
          {value:2280, name:'嘉定区'},
          {value:3216, name:'杨浦区'},
          {value:2177, name:'虹口区'},
          {value:4051, name:'普陀区'},
          {value:883, name:'青浦区'},
          {value:4678, name:'闵行区'},
          {value:4451, name:'黄浦区'},
          {value:3853, name:'长宁区'},
          {value:5720, name:'静安区'},
          {value:7664, name:'徐汇区'},
          {value:1917, name:'松江区'},
          {value:708, name:'奉贤区'},
          {value:8120, name:'浦东新区'},
          {value:515, name:'金山区'},
          {value:147, name:'崇明县'}
        ],

          itemStyle: {
              markPoint : {
                  data : [
                      {type : 'max', name: '最大值'},
                      {type : 'min', name: '最小值'}
                  ]
              },
              markLine : {
                  data : [
                      {type : 'average', name: '平均值'}
                  ]
              },
              normal: {
                  // 随机显示
                  //color:function(d){return "#"+Math.floor(Math.random()*(256*256*256-1)).toString(16);}

                  // 定制显示（按顺序）
                  color: function(params) {
                      var colorList = ['#C1232B','#B5C334','#FCCE10','#E87C25','#27727B','#C33531','#EFE42A','#64BD3D','#EE9201','#29AAE3', '#B74AE5','#0AAF9F','#E89589','#16A085','#4A235A','#C39BD3 ','#F9E79F','#BA4A00','#ECF0F1','#616A6B','rgb(164,205,238)','#26C0C0','rgb(25,46,94)','rgb(195,229,235)' ];
                      return colorList[params.dataIndex]
                  }
              }
          }
      }
    ]
  };

  myChart.setOption(option);

  var secondChart = echarts.init(document.getElementById('second'));
  // 指定图表的配置项和数据
  option = {
      title : {
          text: '各区县文化产业在上海所有企业中所占比例',
          subtext: '上海市',
          x:'center'
      },
      tooltip : {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c}% ({d}%)"
      },
      legend: {
          x : 'center',
          y : 'bottom',
          data:['宝山区','嘉定区','杨浦区','虹口区','普陀区','青浦区', '闵行区', '黄浦区', '长宁区', '静安区', '徐汇区', '松江区', '奉贤区', '浦东新区', '金山区', '崇明县']
      },
      toolbox: {
          show : true,
          feature : {
              mark : {show: true},
              dataView : {show: true, readOnly: false},
              magicType : {
                  show: true,
                  type: ['pie', 'funnel']
              },
              restore : {show: true},
              saveAsImage : {show: true}
          }
      },
      calculable : true,
      series : [
          {
              name:'文化产业占上海所有企业比例',
              type:'pie',
              radius : [100, 210],
              roseType : 'area',
              data:[
                  {value:0.19788, name:'宝山区'},
                  {value:0.24114, name:'嘉定区'},
                  {value:0.35082, name:'杨浦区'},
                  {value:0.23786, name:'虹口区'},
                  {value:0.43078, name:'普陀区'},
                  {value:0.09339, name:'青浦区'},
                  {value:0.53474, name:'闵行区'},
                  {value:0.47075, name:'黄浦区'},
                  {value:0.40825, name:'长宁区'},
                  {value:0.60497, name:'静安区'},
                  {value:0.81163, name:'徐汇区'},
                  {value:0.20275, name:'松江区'},
                  {value:0.07488, name:'奉贤区'},
                  {value:0.87403, name:'浦东新区'},
                  {value:0.05447, name:'金山区'},
                  {value:0.01554, name:'崇明县'}
              ]
          }
      ]
  };
  secondChart.setOption(option);

  var thirdChart = echarts.init(document.getElementById('third'));

  // 指定图表的配置项和数据
  option = {
      title : {
          text: '各区县文化产业在各区中所占比例',
          subtext: '上海市',
          x:'center'
      },
      color: ['#003366', '#006699'],
      tooltip: {
          trigger: 'axis',
          axisPointer: {
              type: 'shadow'
          }
      },
      legend: {
          x:'center',
          y:'bottom',
          data: ['文化创意产业总数', '企业总数']
      },
      toolbox: {
          show: true,
          orient: 'vertical',
          left: 'right',
          top: 'center',
          feature: {
              mark: {show: true},
              dataView: {show: true, readOnly: false},
              magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
              restore: {show: true},
              saveAsImage: {show: true}
          }
      },
      calculable: true,
      xAxis: [
          {
              type: 'category',
              axisTick: {show: false},
              data:['宝山区','嘉定区','杨浦区','虹口区','普陀区','青浦区', '闵行区', '黄浦区', '长宁区', '静安区', '徐汇区', '松江区', '奉贤区', '浦东新区', '金山区', '崇明县']
          }
      ],
      yAxis: [
          {
              type: 'value'
          }
      ],
      series: [
          {
              name: '文化创意产业总数',
              type: 'bar',
              barGap: 0,
              label: labelOption,
              data: [1681,2280,3216,2177,4051,883,4678,4451,3853,5720,7664,1917,708,8120,515,147]
          },
          {
              name: '企业总数',
              type: 'bar',
              label: labelOption,
              data: [56036,55297,51035,48098,54916,29150,96837,71241,56636,75791,73675,50208,26193,172579,18638,8138]
          }
      ]
  };

  thirdChart.setOption(option);

  require([
    "esri/Map",
    "esri/views/SceneView",
    "esri/layers/FeatureLayer",
    "dojo/domReady!"
  ], function(Map, SceneView, FeatureLayer){
      var template = {
      title: "文化产业区域信息：",
      content: "<p>{Name}</p>" + "一共有{Join_Count}个文化产业",
      fieldInfos: [{
        fieldName: "MARRIED_CY",
        format: {
          digitSeparator: true, // Use a comma separator for large numbers
          places: 0 // Sets the number of decimal places to 0 and rounds up
        }
      }, {
        fieldName: "NEVMARR_CY",
        format: {
          digitSeparator: true,
          places: 0
        }
      }, {
        fieldName: "DIVORCD_CY",
        format: {
          digitSeparator: true,
          places: 0
        }
      }]
    };

    // Create the Map
    var map = new Map({
      basemap: "satellite",
      ground: "world-elevation",
        logo:false
    });

    // Create the MapView
    var view = new SceneView({
      container: "viewDiv",
      map: map,
        zoom: 12,  // Sets the zoom level based on level of detail (LOD)
        center: [121, 31]  // Sets the center point of view in lon/lat
    });

    view.then(function() {
      featureLayer.then(function() {
        view.goTo(featureLayer.fullExtent);
      });
    });

    var featureLayer = new FeatureLayer({
      url: "https://localhost:6443/arcgis/rest/services/2/MapServer",
      outFields: ["*"],
      popupTemplate: template
    });

    map.add(featureLayer)


  });

</script>


<style>
    .pageOne.container {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow-y: auto;
    }

    .pageOne.container > div {
        margin: 20px;
    }

    .pageOne.container > h2 {
        align-self: flex-start;
        color: #0088f5;
        font-size: 5em;
        margin: 20px;
        text-indent:30px;
    }
    .pageOne.container > span{
        font-size: 2em;
        margin: 20px 90px;
        text-indent: 30px;
        letter-spacing: 1px;
        line-height: 2;
    }
    .pageOne.container.active {
        display: none;
    }

    .selectOne { position: relative; display: block; margin: 0 auto; width: 10%; max-width: 325px; color: #cccccc; vertical-align: middle; text-align: left; user-select: none; -webkit-touch-callout: none;}
    .selectOne .placeholder { position: relative; display: block; background-color: #393d41; z-index: 1; padding: 1em; border-radius: 2px; cursor: pointer;}
    .selectOne .placeholder:hover { background: #34383c;}
    .selectOne .placeholder:after { position: absolute; right: 1em; top: 50%; transform: translateY(-50%); font-family: 'FontAwesome'; content: '\f078'; z-index: 10;}
    .selectOne.is-open .placeholder:after { content: '\f077';}
    .selectOne.is-open ul { display: block;}
    .selectOne.selectOne--white .placeholder { background: #fff; color: #999;}
    .selectOne.selectOne--white .placeholder:hover { background: #fafafa;}
    .selectOne.selectOne--green .placeholder { background: #5BF36E; color: #FFF;}
    .selectOne.selectOne--green .placeholder:hover { background: #5BF36E;}
    .selectOne ul { display: none; position: absolute; overflow: hidden; width: 100%; background: #fff; border-radius: 2px; top: 100%; left: 0; list-style: none; margin: 5px 0 0 0; padding: 0; z-index: 100;}
    .selectOne ul li { display: block; text-align: left; padding: 0.8em 1em 0.8em 1em; color: #999; cursor: pointer;}
    .selectOne ul li:hover { background: #4ebbf0; color: #fff;}
</style>